@import '../config/variables';

.del-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .del-modal__container {
    background: #424242;
    backdrop-filter: blur(13.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 300px;
    height: 200px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .del-modal__title {
      margin-top: 5px;

      h2 {
        margin: 0;
      }
    }

    .del-modal__btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        background-color: #424242;
        transition: background-color 0.1s ease-in-out;
        padding: 7px 16px;
        color: $white;

        &:hover {
          background-color: #8e8e8e;
        }
      }
    }
  }
}
