extends base

block content
    div.join-container
        form.join-container__form-block(action="/join", method="post", onsubmit="return submitJoin(event)")
            h2.join-container__title 회원가입
            div.join-container__id-block
                span 아이디
                input.join-container__id(type="text", name="id", placeholder="아이디")
                span.join-container__id-msg
            div.join-container__pw-block
                span 비밀번호
                input.join-container__pw(type="password", name="password", placeholder="비밀번호")
            div.join-container__pw-check-block
                span 비밀번호 확인
                input.join-container__pw2(type="password", name="password2", placeholder="비밀번호 확인")
            div.join-container__name-block
                span 이름
                input.join-container__name(type="text", name="name", placeholder="이름")
            input.join-container__submit-btn(type="submit", value="가입하기")
        div.auth-switch
            span 이미 계정이 있나요? &nbsp;
            a(href="/login") 로그인 하러가기 &rarr;

        if errorMessage
            span=errorMessage

block script
    script(src="/static/js/join.js")