.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal__layer {
    background: #424242;
    box-shadow: 0 8px 32px 0 rgba(220, 220, 220, 0.6);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 300px;
    height: 200px;
    position: relative;
    padding: 10px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;

    .modal__error-msg {
      color: $red;
    }

    .modal__title {
      //border-bottom: 1px solid gray;
      padding: 10px 0 15px;

      h2 {
        margin: 0;
        padding-left: 10px;
      }
    }

    .modal__input-block {
      position: relative;
      padding: 15px 0 0;
      //margin-top: 10px;
      width: 85%;
      margin: 10px auto;

      .modal__input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $gray2;
        outline: 0;
        font-size: 1.3rem;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        margin-bottom: 15px;
        color: white;

        &:focus {
          border-bottom: 2px solid #3498db;
          outline: none;
        }

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .modal__label {
          font-size: 20px;
          cursor: text;
          top: 20px;
        }
      }

      .modal__input:focus {
        ~ .modal__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 15px;
          color: #3498db;
          font-weight: 700;
        }
      }

      .modal__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
      }
    }

    .modal__btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 14px 0 15px;
      //border-top: 1px solid gray;

      button:hover {
        cursor: pointer;
      }

      .modal__cancel {
        appearance: none;
        //border: 2px solid $red;
        border-radius: 12px;
        //background-color: $red;
        border: none;
        background-color: #424242;
        color: $white;
        padding: 8px 10px;
        margin: 0 2px;
        transition: background-color 0.1s ease-in-out;
      }

      .modal__cancel:hover {
        background-color: #d8a5a5;
      }

      .modal__submit {
        appearance: none;
        //border: 2px solid $blue;
        border-radius: 12px;
        //background-color: $blue;
        border: none;
        background-color: #424242;
        color: $white;
        padding: 8px 10px;
        margin: 0 2px;
        transition: background-color 0.1s ease-in-out;
      }

      .modal__submit:hover {
        background-color: #92a8d1;
      }
    }
  }
}

.hidden {
  display: none;
}
