extends base.pug
include mixins/table-nicknames.pug
include mixins/table-body.pug

block content
    div.home-container
        ul.home-container__menu
            li 일일퀘스트
            li 주간보스
            li 이벤트
        div.home-container__quest
            button.home-container__add-character 캐릭터추가
            table
                thead
                    tr
                        th &nbsp;
                         each quest in quests
                             +nicknames(quest)
                tbody
                    +tableBody(quests)
    include partials/modal.pug

block script
    script(src="/static/js/home.js")