extends base.pug

block content
    div.home-container
        ul.home-container__menu
            li 일일퀘스트
            li 주간보스
            li 이벤트
        div.home-container__quest
            div.home-container__arcane-river
                h2 아케인리버
                ul
                    li.home-container__quest__bg-gray 소멸의 여로
                    li.home-container__quest__bg-gray 츄츄 아일랜드
                    li.home-container__quest__bg-gray 레헬른
                    li.home-container__quest__bg-gray 아르카나
                    li.home-container__quest__bg-gray 모라스
                    li.home-container__quest__bg-gray 에스페라
            div.home-container__grandis
                h2 그란디스
                ul
                    li.home-container__quest__bg-gray 세르니움(전)
                    li.home-container__quest__bg-gray 세르니움(후)
                    li.home-container__quest__bg-gray 호텔 아르크스
                    li.home-container__quest__bg-gray 오디움
