extends base.pug
include mixins/table-column.pug

block content
    div.home-container
        ul.home-container__menu
            li 일일퀘스트
            li 주간보스
            li 이벤트
        div.home-container__quest
            button.home-container__add-character 캐릭터추가
            button.home-container__delete-character 캐릭터삭제
            div.home-container__table
                ul.home-container__column
                    li &nbsp;
                    li 여로
                    li 츄츄
                    li 레헬른
                    li 아르카나
                    li 모라스
                    li 에스페라
                    li 세르니움(전)
                    li 세르니움(후)
                    li 호텔 아르크스
                    li 오디움
                each quest in quests
                    +tableColumn(quest)
    include partials/modal.pug

block script
    script(src="/static/js/home.js")