header
    div.header
        a.header__title 메할일
        nav
            ul.header__menu
                li.header__logout-btn
                    a(href="/logout") logout
                li.header__profile-btn
                    a profile
