div.modal.hidden
    div.modal__layer
        span.modal__error-msg.hidden Error
        div.modal__input-block
            input#nickname.modal__input(type="text" placeholder="여기에 닉네임을 입력하세요" required)
            label.modal__label(for="nickname")
                span 여기에 닉네임을 입력하세요
        div.modal__btn
            button.modal__submit 확인
            button.modal__cancel 취소