.home-container {
  width: 100%;
  margin: 0 auto;
  box-sizeing: border-box;

  .home-container__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      border: 1px solid #e0e2e7;
      border-radius: 5px;
      margin: 0 5px;
      width: calc(25% - 8px);
      height: 60px;
      text-align: center;
      line-height: 60px;
      box-shadow: 1px 2px 4px 1px rgb(60 60 60 / 30%);

      &:hover {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
      }
    }

    &:first-child {
      display: flex;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-container {
    max-width: 1140px;

    .home-container__menu > li {
      width: calc(10% - 8px);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .home-container {
    max-width: 960px;
    padding: 0 30px;

    .home-container__menu > li {
      width: calc(20% - 8px);
    }
  }
}
