.home-container {
  width: 100%;
  margin: 0 auto;
  box-sizeing: border-box;

  .home-container__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      border: 1px solid $gray;
      border-radius: 5px;
      margin: 0 5px;
      width: calc(25% - 8px);
      height: 60px;
      text-align: center;
      line-height: 60px;
      box-shadow: 1px 2px 4px 1px rgb(60 60 60 / 30%);
      transition: transform 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(0.9);
      }
    }

    &:first-child {
      display: flex;
    }
  }

  .home-container__quest {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    background-color: $table-bg;
    border-radius: 7px;

    table {
      border-collapse: collapse;
      white-space: nowrap;
      table-layout: fixed;
      width: 100%;

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        background-color: $table-bg;
      }

      thead {
        tr {
          th:first-child {
            width: 100px;
          }
        }
      }

      tbody {
        tr {
          td:first-child {
            text-align: center;
          }

          td {
            border: 1px solid white;

            button {
              width: 100%;
              height: 100%;
              background-color: $table-bg;
              border: 1px solid $table-bg;
            }

            button:hover {
              cursor: pointer;
              background-color: #333;
              border: 1px solid #333;
            }

            .checkbox--white {
              color: $white;
            }

            .checkbox--blue {
              color: #3498db;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-container {
    max-width: 1140px;

    .home-container__menu > li {
      width: calc(10% - 8px);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .home-container {
    max-width: 960px;
    padding: 0 30px;

    .home-container__menu > li {
      width: calc(20% - 8px);
    }
  }
}

.home-container__quest--gray {
  filter: grayscale(1);
}
