.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modal__layer {
    //background: rgba(69, 139, 197, 0.7);
    background: $white;
    //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 8px 32px 0 rgba(220, 220, 220, 0.6);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    //border: 1px solid rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 200px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .modal__input-block {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 70%;

      .modal__input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        margin-bottom: 15px;

        &:focus {
          border-bottom: 2px solid #11998e;
          outline: none;
        }

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .modal__label {
          font-size: 20px;
          cursor: text;
          top: 20px;
        }
      }

      .modal__input:focus {
        ~ .modal__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 15px;
          color: #11998e;
          font-weight: 700;
        }
      }

      .modal__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
      }
    }
    .modal__btn {
      display: flex;
      justify-content: center;
      align-items: center;

      button:hover {
        cursor: pointer;
      }

      .modal__submit {
        appearance: none;
        border: 2px solid #3498db;
        border-radius: 12px;
        background-color: #3498db;
        color: $white;
        font-weight: 700;
        padding: 8px 16px;
        margin: 0 2px;
      }

      .modal__cancel {
        appearance: none;
        border: 2px solid #e74c3c;
        border-radius: 12px;
        background-color: #e74c3c;
        color: $white;
        font-weight: 700;
        padding: 8px 16px;
        margin: 0 2px;
      }
    }
  }
}

.modal--hidden {
  display: none;
}

.home-container {
  width: 100%;
  margin: 0 auto;
  box-sizeing: border-box;

  .home-container__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      border: 1px solid $gray;
      border-radius: 5px;
      margin: 0 5px;
      width: calc(25% - 8px);
      height: 60px;
      text-align: center;
      line-height: 60px;
      box-shadow: 1px 2px 4px 1px rgb(60 60 60 / 30%);
      transition: transform 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(0.9);
      }
    }

    &:first-child {
      display: flex;
    }
  }

  .home-container__quest {
    border: 1px solid $black;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;

    table {
      width: auto;
      white-space: nowrap;
      border: 1px solid $black;
      border-collapse: collapse;
      text-align: center;

      tr,
      td {
        border: 1px solid $black;
      }

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        background-color: white;
      }
    }

    //display: flex;
    //justify-content: center;
    //align-items: center;

    //.home-container__arcane-river,
    //.home-container__grandis {
    //  width: 100%;
    //  padding: 10px;
    //  border-radius: 10px;
    //
    //  ul {
    //    padding: 0;
    //
    //    li {
    //      border: 1px solid $black;
    //      border-radius: 10px;
    //      padding: 5px;
    //      text-align: center;
    //      margin: 5px;
    //      height: 60px;
    //      line-height: 60px;
    //      background-color: $white;
    //      font-size: 20px;
    //      font-weight: 600;
    //      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    //      background-size: cover;
    //      transition: transform 0.1s ease-in-out;
    //      box-shadow: 1px 2px 4px 1px rgb(60 60 60 / 30%);
    //    }
    //
    //    li:hover {
    //      cursor: pointer;
    //    }
    //
    //    li:active {
    //      transform: scale(0.9);
    //    }
    //  }
    //}
    //
    //.home-container__arcane-river {
    //  border: 1px solid red;
    //  margin: 10px 5px 10px 0px;
    //
    //  ul {
    //    display: grid;
    //    grid-template-rows: 1fr 1fr;
    //    grid-template-columns: 1fr 1fr 1fr;
    //
    //    li:first-child {
    //      background-image: url('../images/vanishing_journey.png');
    //    }
    //
    //    li:nth-child(2) {
    //      background-image: url('../images/chu_chu_island.png');
    //    }
    //
    //    li:nth-child(3) {
    //      background-image: url('../images/lachelein.jpg');
    //    }
    //
    //    li:nth-child(4) {
    //      background-image: url('../images/arcana.png');
    //    }
    //
    //    li:nth-child(5) {
    //      background-image: url('../images/morass.jpg');
    //    }
    //
    //    li:nth-child(6) {
    //      background-image: url('../images/esfera.jpg');
    //    }
    //  }
    //}
    //
    //.home-container__grandis {
    //  border: 1px solid orange;
    //  margin: 10px 0px 10px 5px;
    //
    //  ul {
    //    display: grid;
    //    grid-template-rows: 1fr 1fr;
    //    grid-template-columns: 1fr 1fr;
    //
    //    li:first-child {
    //      background-image: url('../images/cernium.png');
    //    }
    //
    //    li:nth-child(2) {
    //      background-image: url('../images/buring_cernium.jpg');
    //    }
    //
    //    li:nth-child(3) {
    //      background-image: url('../images/hotel_arcs.png');
    //    }
    //
    //    li:nth-child(4) {
    //      background-image: url('../images/odium.jpg');
    //    }
    //  }
    //}
  }
}

@media screen and (min-width: 1200px) {
  .home-container {
    max-width: 1140px;

    .home-container__menu > li {
      width: calc(10% - 8px);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .home-container {
    max-width: 960px;
    padding: 0 30px;

    .home-container__menu > li {
      width: calc(20% - 8px);
    }
  }
}

.home-container__quest--gray {
  filter: grayscale(1);
}
