div.check-modal.hidden
    div.check-modal__layer
        span.check-modal__error-msg.hidden Error
        div.check-modal__title
            h2 캐릭터 추가
        div.check-modal__btn
            button.modal__cancel 취소
            button.modal__submit 확인
