modals
    div#add-character.modal.hidden
        div.modal__layer
            span.modal__error-msg.hidden Error
            div.modal__title
                h2 캐릭터 추가
            div.modal__input-block
                input#nickname.modal__input(type="text" placeholder="여기에 닉네임을 입력하세요" required)
                label.modal__label(for="nickname")
                    span 닉네임입력
            div.modal__btn
                button#add-modal-cancel.modal__cancel 취소
                button#add-modal-submit.modal__submit 확인
    div#delete-character.modal.hidden
        div.modal__layer
            span.modal__error-msg.hidden Error
            div.modal__title
                h2 캐릭터 삭제
            div.modal__delete-msg 정말 삭제하시겠습니까?
            div.modal__btn
                button#delete-modal-cancel.modal__cancel 취소
                button#delete-modal-submit.modal__submit 확인
                span.modal__delete-nickname.hidden
                span.modal__cell-index.hidden
    div#update-nickname.modal.hidden
        div.modal__layer
            span.modal__error-msg.hidden Error
            div.modal__title
                h2 닉네임 수정
            div.modal__input-block
                input#nickname1.modal__input(type="text" placeholder="여기에 닉네임을 입력하세요" required)
                label.modal__label(for="nickname")
                    span 닉네임입력
            div.modal__btn
                button.modal__cancel 취소
                button.modal__submit 확인