.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
    padding: 0 30px;
  }
}
